%h1#object-account Account

:markdown
  `Account`オブジェクトはユビレジのアカウントを表します。`Account`オブジェクトは`Table`, `Cashier`, `PaymentType`の配列を含むような最も
  巨大なオブジェクトです。ほとんどのAPIクライアントは、`Account`オブジェクトの取得を最初にすることになります。

  `Account`オブジェクトは読み込み専用です。更新するためのAPIはありません。

%h2#object-account-fields Fields

.row
  .span6
    %dl
      %dt= field "id", :readonly, :immutable
      %dd サーバ側で振られたアカウントIDです。
      %dt= field "login"
      %dd アカウントのログイン名です。
      %dt= field "email"
      %dd アカウントのメールアドレスです。
      %dt= field "name"
      %dd ユーザに表示されるアカウント名です。
      %dt= field "expire_at"
      %dd
        アカウントの有効期限です。サブスクリプションの有効期限が無期限の場合、値が`null`になることもあります。
      %dt= field "currency"
      %dd 使用する通貨を表します。<code>"JPY"</code> <code>"USD"</code>, <code>"Unknown 2"</code>, <code>"Unknown 3"</code>のいずれかのみを指定できます。
      %dt= field "date_offset"
      %dd
        日付が変わる時間を表します。たとえば、6の場合、日付は午前6時に変わります。タイムゾーンがUTCの場合、このとき、
        <code>2012-01-01T05:59:00Z</code>は2011年12月31日であることになります。
      %dt= field "timezone"
      %dd アカウントのタイムゾーンです。
      %dt= field "receipt_title"
      %dd レシートのタイトルです。
      %dt= field "receipt_footer"
      %dd レシートのフッタ部分に印刷されるテキストです。
      %dt= field "receipt_logo"
      %dd レシートに印刷されるロゴ画像がBase64エンコードされたものです。
      %dt= field "menus"
      %dd <code>Menu</code> idの配列です。
      %dt= field "tables"
      %dd <code>Table</code>の配列です。
      %dt= field "customer_tags"
      %dd <code>CustomerTag</code>の配列です。
      %dt= field "payment_types"
      %dd <code>PaymentType</code>の配列です。
      %dt= field "cashiers"
      %dd <code>Cashier</code>の配列です。
      %dt= field "parent_ids"
      %dd 親アカウントのidの配列です。
      %dt= field "child_ids"
      %dd 子アカウントのidの配列です。
      %dt= field "sibling_ids"
      %dd 兄弟アカウントのidの配列です。
  .span6
    %pre
      = preserve do
        :escaped
          {
            "id": 123,
            "created_at": "2011-12-31:00:00:31Z",
            "updated_at": "2012-01-30:00:30:11Z",
            "login": "ubiregi-cafe",
            "email": "cafe@ubiregi.com",
            "name": "Ubiregi Cafe",
            "expire_at": "2011-11-13T00:00:00Z",
            "subscription": "trial",
            "currency": "JPY",
            "date_offset": 6,
            "timezone": "Asia/Tokyo",
            "receipt_title": "RECEIPT",
            "receipt_footer": "Footer to be printed in receipts",
            "receipt_logo": $base64Encoded,
            "menus": [ 8 ],
            "tables": [ $tables ],
            "customer_tags": [ $customer_tags ],
            "payment_types": [ $payment_types ],
            "cashiers": [ $cashiers ],
            "parent_ids": [ 100 ],
            "child_ids": [ 200, 124 ],
            "sibling_ids": [ 100, 2031, 581 ],
          }

%h2#get-on-accounts-account-id GET on /accounts/<em>account_id</em>

:markdown
  *account_id* を指定して、`Account`オブジェクトを取得します。
  
  *account_id* は当該アカウントのidまたは文字列`"current"`のどちらかです。
  `"current"`を指定した場合, 現在のアカウントのidを指定したものとみなされます。
  
%h3 リクエスト
.row
  .span6
    %pre
      = preserve do
        GET /accounts/133
        GET /accounts/current
    
%h3 レスポンス
.row
  .span6
    %pre
      = preserve do
        :escaped
          {
            "account": $account,
            "timestamp": "2011-11-02T09:11:34Z",
          }
  .span6
    %dl
      %dt account
      %dd `Account`オブジェクトです。
      %dt timestamp
      %dd ubiregi.com のサーバにおける時刻です。

%h3 注意点

:markdown
  現在のアカウント、親または子アカウント以外にアクセスすることはできません。
　その場合、リクエストに対して404(not found)エラーが返って来ます。
